.video{
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    opacity: 1;
    background-color: transparent;
}
.btn-outline{
    border: solid 1px #f5f6f9;
    font-size: 14px;
    border-radius: 16px;
    padding: 13px;
    line-height: 10px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.btn-outline:hover{
    background-color: #000;
    color: #fff !important;
}
#myVideo{
    object-fit: fill;
    height: -webkit-fill-available;
}
@media (max-width: 767px){
    .col{
        min-width: 100%;
        margin-top: 4rem;
    }
    .cases{
        padding-top: 3rem !important;
    }
    .recovered-cases{
        padding-top: 2rem !important;
    }
}
@media (max-width: 400px){
    .col{
        min-width: 100%;
        margin-top: 2rem;
    }
    .cases{
        padding-top: 3rem !important;
    }
    .recovered-cases{
        padding-top: 1rem !important;
    }
}
.overflow-content{
    overflow: auto;
    height: 100vh;
}
.graphical-view{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    transition: 0.5s ease all;
    width: 100%;
    right: 0;
    z-index: 9999;
    background-color: #101010;
    opacity: 0.9;
}
.close-graph{
    height: 54px;
    background-color: #000;
    opacity: 1;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 14px;
    cursor: pointer;
    z-index: 9999;
    border-bottom: solid 1px #000;
}